In [20]:
#!pip install pandas

Requirement already satisfied: pandas in c:\users\breno\appdata\local\programs\python\python311\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\breno\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\breno\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\breno\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\breno\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\breno\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [21]:
import pandas as pd

(1) Crie um dataframe com a estrutura abaixo. Os índices devem ser as Equipes “X Racing”, “Equatorial”, “Typo”, “Blue Race”,”Capa Racing”. Utilize um dicionário.

In [22]:
data = {
        'Sede' : ['Nova Iorque','São Paulo','Nova Iorque','Londres','Londres'],
        'Piloto': ['Mike Ross','Sebastian Thomas','Glen Are','Michael Schum','Luiz da Silva'],
        'Mundiais': [10,11,0,3,44],
        'Vitorias': [321,229,12,44,1023]
}
df = pd.DataFrame(data, index=['X Racing','Equatorial','Type','Blue Race','Capa Racing'])
df

                    Sede            Piloto  Mundiais  Vitorias
X Racing     Nova Iorque         Mike Ross        10       321
Equatorial     São Paulo  Sebastian Thomas        11       229
Type         Nova Iorque          Glen Are         0        12
Blue Race        Londres     Michael Schum         3        44
Capa Racing      Londres     Luiz da Silva        44      1023

(2) Mostre todas as informações da equipe Blue Race

In [23]:
df.loc['Blue Race']

Sede              Londres
Piloto      Michael Schum
Mundiais                3
Vitorias               44
Name: Blue Race, dtype: object

(3) Mostre o número de mundiais da equipe Capa Racing

In [24]:
df.loc['Capa Racing']['Mundiais']

44

(4) Mostre apenas as equipes que tem 10 ou mais mundiais

In [25]:
mask = df['Mundiais'] >= 10
df[mask]

                    Sede            Piloto  Mundiais  Vitorias
X Racing     Nova Iorque         Mike Ross        10       321
Equatorial     São Paulo  Sebastian Thomas        11       229
Capa Racing      Londres     Luiz da Silva        44      1023

(5) Mostre apenas as equipes que tem 10 ou mais mundiais e mais de 300 vitórias

In [26]:
mask = (df['Mundiais'] >= 0) & (df['Vitorias'] > 300)
df[mask]

                    Sede         Piloto  Mundiais  Vitorias
X Racing     Nova Iorque      Mike Ross        10       321
Capa Racing      Londres  Luiz da Silva        44      1023

(6) Atualize o nome do piloto da Equipe Equatorial para Antônio Racer

In [28]:
df.at['Equatorial', 'Piloto'] = 'Antônio Racer'
df

                    Sede         Piloto  Mundiais  Vitorias
X Racing     Nova Iorque      Mike Ross        10       321
Equatorial     São Paulo  Antônio Racer        11       229
Type         Nova Iorque       Glen Are         0        12
Blue Race        Londres  Michael Schum         3        44
Capa Racing      Londres  Luiz da Silva        44      1023

(7) Atualize em um mesmo comando a equipe X Racing, definindo sede como São Paulo e Vitórias com 322

In [31]:
df.loc['X Racing', ['Sede', 'Vitorias']] = ('São Paulo', 322)
df

                    Sede         Piloto  Mundiais  Vitorias
X Racing       São Paulo      Mike Ross        10       322
Equatorial     São Paulo  Antônio Racer        11       229
Type         Nova Iorque       Glen Are         0        12
Blue Race        Londres  Michael Schum         3        44
Capa Racing      Londres  Luiz da Silva        44      1023

(8) Inclua uma nova equipe Red Cow, com sede em São Paulo, Pitolo Fernando Vetel, Mundiais zero e Vitórias zero

In [32]:
df.loc['Red Cow'] = ('São Paulo', 'Fernando Vetel', 0, 0)
df

                    Sede          Piloto  Mundiais  Vitorias
X Racing       São Paulo       Mike Ross        10       322
Equatorial     São Paulo   Antônio Racer        11       229
Type         Nova Iorque        Glen Are         0        12
Blue Race        Londres   Michael Schum         3        44
Capa Racing      Londres   Luiz da Silva        44      1023
Red Cow        São Paulo  Fernando Vetel         0         0

(9) Ordene o dataframe de forma decrescente pelo número de vitórias

In [35]:
df.sort_values('Vitorias', ascending=False, na_position='first', inplace=False)

                    Sede          Piloto  Mundiais  Vitorias
Capa Racing      Londres   Luiz da Silva        44      1023
X Racing       São Paulo       Mike Ross        10       322
Equatorial     São Paulo   Antônio Racer        11       229
Blue Race        Londres   Michael Schum         3        44
Type         Nova Iorque        Glen Are         0        12
Red Cow        São Paulo  Fernando Vetel         0         0